server {
    server_name canfindjob.com www.canfindjob.com;

    access_log /var/log/nginx/canfindjob_access.log;
    error_log /var/log/nginx/canfindjob_error.log;

    server_tokens off;
    client_max_body_size 50M;

    location / {
        proxy_pass http://127.0.0.1:3003;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection 'upgrade';
        proxy_set_header Host $host;
        proxy_cache_bypass $http_upgrade;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;

        proxy_read_timeout 300;
        proxy_connect_timeout 300;
        proxy_send_timeout 300;
    }

    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/canfindjob.com/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/canfindjob.com/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = www.canfindjob.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    if ($host = canfindjob.com) {
        return 301 https://$host$request_uri;
    } # managed by Certbot


    listen 80;
    server_name canfindjob.com www.canfindjob.com;
    return 404; # managed by Certbot
}
